<ion-app>
  <ion-router-outlet></ion-router-outlet>
</ion-app>
<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button routerLinkActive="tab-selected" routerLink="/home" class="ios" tab="home">
      <ion-icon name="list"></ion-icon>
      <ion-label>Licores</ion-label>
    </ion-tab-button>
    <ion-tab-button routerLinkActive="tab-selected" routerLink="/make-licor" class="ios" tab="make-licor">
      <ion-icon name="add-circle"></ion-icon>
      <ion-label>Añadir Licor</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>